.img-editor{
  height: 500px;
  width: 100%;
  background: #5a5a5a;
  position: relative;
  border: 2px dotted #ccc;
}

.image-editor-section{
  height: auto;
  padding: 25px 0px;

}


.placer{
  height: 300px;
  position: absolute;
  left: 0px;
  right: 0px;
  top:0px;
  bottom: 0px;
  margin: auto;
  background-image: url("https://fbcd.co/images/products/a765994bd870df31004c94e932e563b3_resize.jpg");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
}

.img-placeholder{
  cursor: pointer;
  height: 240px;
  position: absolute;
  left: 40px;
}

.preview{
  height: 530px;
  width: 100%;
  background: #eaeaea;
  position: absolute;
  // left: -30px;
  // top: -15px;
  padding: 25px;

  h3{
    font-size: 24px;
    font-weight: bold;
  }

  h4{
    font-weight: normal;
  }

  p{
    font-weight: normal;
  }

  h2{
    font-weight: normal;
  }
}

.he{
  height: 10px;
}
.l-sidebar-wrapper {
  position: absolute;
  min-height: 250px;
  padding-bottom: 110px;
  z-index: 2;
  min-width: 150px;
}
.l-sidebar-wrapper .guideline-link-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#eaeaea;
  padding: 10px;
  margin-bottom: 0;
}
.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}
.l-sidebar-wrapper .guideline-link-list li:first-child {
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
  margin-bottom: 10px;
}
.l-sidebar-wrapper .guideline-link-list li:nth-child(2) span {
  background-color: #656565;
  color: #fff;
  padding: 0 5px 3px;
  margin-top: 1px;
  line-height: 1;
}
.l-sidebar-wrapper .guideline-link-list li {
  color: #333;
  margin-bottom: 5px;
}

.btn-preview{
  background: #ffdc00;
  color: #fff;
  font-size: 18px;
  padding: 8px 15px;
  color: #000;
  letter-spacing: 0.5px;
  border-radius: 0px;
  border: 2px solid #ffdc00;
  transition: all .2s ease-in-out;
  &:hover{
    background: #fff;
    border: 2px solid #ffdc00;
    transform: scale(1.1);
  }
}


.btn-cart{
  background: #fff;
  color: #ffdc00;
  font-size: 18px;
  padding: 8px 15px;
  color: #000;
  letter-spacing: 0.5px;
  border-radius: 0px;
  border: 2px solid #ffdc00;
  transition: all .2s ease-in-out;
  &:hover{
    background: #fff;
    border: 2px solid #ffdc00;
    transform: scale(1.1);
  }
}

.buttons{
  position: absolute;
  bottom: 50px;
}


.image-uploaded{
  cursor: pointer;
  position: absolute;
  left: 40px;
  max-width: 347px;
  max-height: 236px;
  min-width: 347px;
  min-height: 236px;
  object-fit: cover;
}

.btn-z{
  background: #ffd700;
  border: none;
  position: absolute;
  left: 340px;
  color: #000;
  top: 10px;
}

.dm{
  background: #ffd700;
  border: none;
  position: absolute;
  left: 340px;
  color: #000;
  top: 10px;
  opacity: 0.7;
}

.lk{
  position: absolute;
  bottom: -230px;
  right: 265px;
}

.left-sidebar {
  color: #000;
}
.left-sidebar {
  background-color: #f2f2f2;
  padding: 10px;
  max-width: 100%;
}
.left-sidebar .design-tools-title {
  font-size: 13px;
}
.left-sidebar .design-tools-title {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}
.left-sidebar p{
  margin: 0 0 10px;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
.left-sidebar .design-tools-title {
  font-size: 13px;
}
.left-sidebar .design-tools-title {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}
.left-sidebar .design-tools-list li {
  position: relative;
  font-size: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  padding-left: 50px;
  height: 46px;
  display: table;
}

.left-sidebar .design-tools-list li span {
  line-height: 1.4;
  display: table-cell;
  vertical-align: middle;
}

.left-sidebar .design-tools-list li i.icon {
  position: absolute;
  font-size: 18px;
  display: inline-block;
  color: #000;
  left: 0;
  width: 46px;
  height: 46px;
  text-align: center;
  padding: 11px 5px;
  margin-right: 5px;
  vertical-align: middle;
  border: 1px solid #979797;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.crop-res {

}
.crop-res img {
  max-width: 100%;
}
.btn-group, .btn-group-vertical {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}
.docs-buttons > .btn, .docs-buttons > .btn-group, .docs-buttons > .form-control {
  margin-bottom: .5rem;
  margin-right: .25rem;
}

/*** animation preloader ***/
.container-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.dash {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: #FF2CBD;
  box-shadow: 0 0 10px 0 #FECDFF;
}

.uno {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
}

.dos {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: .2s;
}

.tres {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: .3s;
}

.cuatro {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: .4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.save-design-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.save-design-block .design-name {
  padding: 0 5px;
}
.save-design-block .btn {
  background-color: #000;
  margin-top: 15px;
}
.saved-design-note {
  color: #79a342;
  margin-top: 7px;
  font-size: 16px;
}
.theme-label-text {
  text-align: right;
  top: 10px;
}
.select-theme-tab-body ul li p {
  position: absolute;
  font-size: 12px;
  background-color: #000;
  color: #ffdc00;
  bottom: -21px;
  margin-bottom: 0;
  left: 5px;
  right: 0;
  padding: 2px 5px;
  text-align: center;
  text-transform: lowercase;
}
.select-theme-tab-body ul li {
  position: relative;
  width: 84px;
  height: 74px;
  cursor: pointer;
  margin-bottom: 20px;
}
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 700;
  margin-left: 23px;
}
.warning-block {
  display: inline-block;
  padding: 5px;
  border: 1px solid orange;
  background-color: rgba(255,165,0,.3);
  font-size: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.modal .modal-body .nav-tabs li a.btn-danger:active, .modal .modal-body .nav-tabs li a.btn-danger:focus, .modal .modal-body .nav-tabs li a.btn-danger:hover {
  background-color: #ffdc00;
}
.btn.btn-danger.btn-ghost {
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: none;
}
.btn.btn-danger, .btn.btn-danger.btn-ghost {
  color: #000;
  border-color: #ffdc00;
}
.you_icon{
  font-size: 20px;
    margin-right: 10px;
}
.import-images-box {
  margin-top: 30px;
}
.width-20{
  width: 19% !important;
}
.modal .img-drag-drop-wrapper {
  padding: 7px;
}
.modal .img-drag-drop-wrapper {
  position: relative;
  height: 320px;
  background-color: #edecec;
  border: 3px dotted #979797;
  margin: 5px 0 10px;
  padding: 15px;
  overflow-y: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: 590px;
}
.img-drag-drop-wrapper {
  overflow: auto;
}
.modal .img-drag-drop-wrapper .upload-img-list {
  margin: 0;
}
.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}
.modal .img-drag-drop-wrapper .upload-img-list li {
  width: 130px;
  height: 110px;
  margin: 5px;
}
.modal .img-drag-drop-wrapper .upload-img-list li {
  position: relative;
  width: 17.5%;
  padding-top: 17.5%;
  margin-left: 5px;
  margin-right: 5px;
}
.modal .img-drag-drop-wrapper .upload-img-list li div.img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.modal .img-drag-drop-wrapper .upload-img-list li .select-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  color: #417505;
  font-size: 12px;
  top: 5px;
  left: 5px;
  padding: 0 3px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #417505;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.tab-wrapper .add-img-tab-body ul>li .image-thumb {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  left: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.tab-wrapper .tab-pane {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-top-width: 0;
  padding: 10px;
}
.tab-wrapper {
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
#prevImg {
  float: left;
  display: block;
  width: auto;
  background: transparent;
  line-height: 80px;
  left: 2px;
  cursor: default;
  z-index: 999;
}
.tab-wrapper .add-img-tab-body ul.add-new-img>li {
  background-color: #ffdc00;
  border: 1px solid #ffdc00;
}
.tab-wrapper .add-img-tab-body ul {
  margin: 0;
}
.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}
.tab-wrapper .add-img-tab-body ul>li {
  position: relative;
  width: 65px;
  height: 65px;
  cursor: pointer;
  background-color: #fff;
}
.tab-wrapper .add-img-tab-body ul>li .image-thumb i {
  position: absolute;
  font-size: 18px;
  left: 50%;
  top: 50%;
  margin-left: -13px;
  margin-top: -13px;
  opacity: .5;
}
.small1{
  position: absolute;
    font-size: 59%;
    top: 40px;
}
.theme-li{
  background: black;
  border-color: black;
}
.theme-a{
  color: white !important;
  width: 100%;
}
.col-yell{
  background: #ffdc00;
}

.btn.btn-danger:hover {
  background-color: #ffdc00;
  border-color: #ffdc00;
  color: #000;
  outline: none;
}

.navigation.left-navigation {
  position: absolute;
  top: 50%;
  left: 0;
}
.navigation {
  cursor: pointer;
  z-index: 1;
}
.navigation {
  display: inline-block;
  font-size: 24px;
  width: 36px;
  height: 36px;
  margin-bottom: 5px;
  border: 1px solid #666;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
span.pre-page {
  display: inline-block;
  font-size: 10px;
  left: -14px;
  position: absolute;
  top: 40px;
  width: 70px;
}
.navigation:hover {
  background: #ffdc00;
}
.navigation.right-navigation {
  position: absolute;
  right: 0;
  top: 50%;
}

#group div{
  display: none;
}
#group div.current{
  display: block;
 
}
#next, #prev{
  width: 100px;
  //height 40px;
  cursor:pointer;
  color:red;
  position:fixed;
}
#next{
float: right;  
} 
#prev{
float: left;
margin-left:40px;
}
.dib_btn{
  pointer-events: none;
} 

.left-sidebar .design-tools-list li:hover i.icon {
  background-color: #ffdc00;
  border-color: #ffdc00;
  color: #000;
}