<section class="header">
  <nav class="navbar navbar-inverse nav-cus">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand custom-brand" href="#"><img class="img-responsive img-height-logo" src="../../../assets/images/logo.png" alt=""></a>
      </div>
      <div class="collapse navbar-collapse pull-right" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Other Products<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">dummyemail@email.com</a></li>

            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Help<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">dummyemail@email.com</a></li>

            </ul>
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/signin"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
          <li><a routerLink="/signup"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
          <li><a href="#"> <i class="fa fa-shopping-cart cart-icon"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-inverse nav-cus2">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div class="collapse navbar-collapse " id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle zx" data-toggle="dropdown" href="#">Mobile Covers<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">dummyemail@email.com</a></li>

            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle zx" data-toggle="dropdown" href="#">Mugs<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">dummyemail@email.com</a></li>

            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle zx" data-toggle="dropdown" href="#">Desktop Calendar<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">dummyemail@email.com</a></li>

            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle zx" data-toggle="dropdown" href="#">Wall Calendar<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">dummyemail@email.com</a></li>

            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle zx" data-toggle="dropdown" href="#">Photo Books<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">dummyemail@email.com</a></li>

            </ul>
          </li>


        </ul>

      </div>
    </div>
  </nav>
</section>
