<app-header></app-header>
<section class="slider-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 no-padding">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img class="img-b" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/home/banner/mug/web/Mugs-Banner-web.jpg" alt="Los Angeles" style="width:100%;">
            </div>

            <div class="item">
              <img class="img-b" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/home/banner/youbook/home_carousal_image/youbook3.jpg" alt="Chicago" style="width:100%;">
            </div>

            <div class="item">
              <img class="img-b" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/home/banner/youbook/home_carousal_image/youbook2.jpg" alt="New york" style="width:100%;">
            </div>

            <div class="item">
              <img class="img-b" src=" https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/home/banner/couple-book/home_carousal_image/couplebook2.jpg" alt="New york" style="width:100%;">
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="fa fa-angle-left fa-sliderss"></span>

          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="fa fa-angle-right fa-sliderss"></span>

          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mob-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="main-heading">Trending</h1>
      </div>
    </div>
    <div class="row mt">
      <div class="col-md-4">
        <div class="box">
          <div class="row">
            <div class="col-md-12">
              <div class="img-box">
                <img class="img-responsive img-s" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/mug/landscape/Default/Mug_Theme-23/white/mug-1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="row " style="margin-top: 10px;">
            <div class="col-md-12 text-center">
              <h4>Photo Mug</h4>
              <p>A mug for every reason</p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <div class="set-rs">
                <i class="fa fa-inr fa-2x"> <span> 400</span></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="set-rs">
                <button class="btn btn-explore">Explore</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="row">
            <div class="col-md-12">
              <div class="img-box">
                <img class="img-responsive img-s" src="https://4.imimg.com/data4/NU/UX/MY-33741333/mobile-cover-500x500.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="row " style="margin-top: 10px;">
            <div class="col-md-12 text-center">
              <h4>Couple Book</h4>
              <p>Book of love...</p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <div class="set-rs">
                <i class="fa fa-inr fa-2x"> <span> 300</span></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="set-rs">
                <button class="btn btn-explore">Explore</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="row">
            <div class="col-md-12">
              <div class="img-box">
                <img class="img-responsive img-s" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/product/quickbook/web/quickbook_1.png" alt="">
              </div>
            </div>
          </div>
          <div class="row " style="margin-top: 10px;">
            <div class="col-md-12 text-center">
              <h4>Desktop Calendar</h4>
              <p>A photo for every month</p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <div class="set-rs">
                <i class="fa fa-inr fa-2x"> <span> 200</span></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="set-rs">
                <button class="btn btn-explore">Explore</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mob-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="main-heading">Favourites</h1>
      </div>
    </div>
    <div class="row mt">
      <div class="col-md-4">
        <div class="box">
          <div class="row">
            <div class="col-md-12">
              <div class="img-box">
                <img class="img-responsive img-s" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/mug/landscape/Default/Mug_Theme-23/white/mug-1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="row " style="margin-top: 10px;">
            <div class="col-md-12 text-center">
              <h4>Photo Mug</h4>
              <p>A mug for every reason</p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <div class="set-rs">
                <i class="fa fa-inr fa-2x"> <span> 400</span></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="set-rs">
                <button class="btn btn-explore">Explore</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="row">
            <div class="col-md-12">
              <div class="img-box">
                <img class="img-responsive img-s" src="https://4.imimg.com/data4/NU/UX/MY-33741333/mobile-cover-500x500.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="row " style="margin-top: 10px;">
            <div class="col-md-12 text-center">
              <h4>Couple Book</h4>
              <p>Book of love...</p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <div class="set-rs">
                <i class="fa fa-inr fa-2x"> <span> 300</span></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="set-rs">
                <button class="btn btn-explore">Explore</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="row">
            <div class="col-md-12">
              <div class="img-box">
                <img class="img-responsive img-s" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/product/quickbook/web/quickbook_1.png" alt="">
              </div>
            </div>
          </div>
          <div class="row " style="margin-top: 10px;">
            <div class="col-md-12 text-center">
              <h4>Desktop Calendar</h4>
              <p>A photo for every month</p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <div class="set-rs">
                <i class="fa fa-inr fa-2x"> <span> 200</span></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="set-rs">
                <button class="btn btn-explore">Explore</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt">
      <div class="col-md-4">
        <div class="box">
          <div class="row">
            <div class="col-md-12">
              <div class="img-box">
                <img class="img-responsive img-s" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/mug/landscape/Default/Mug_Theme-23/white/mug-1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="row " style="margin-top: 10px;">
            <div class="col-md-12 text-center">
              <h4>Photo Mug</h4>
              <p>A mug for every reason</p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <div class="set-rs">
                <i class="fa fa-inr fa-2x"> <span> 400</span></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="set-rs">
                <button class="btn btn-explore">Explore</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="row">
            <div class="col-md-12">
              <div class="img-box">
                <img class="img-responsive img-s" src="https://4.imimg.com/data4/NU/UX/MY-33741333/mobile-cover-500x500.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="row " style="margin-top: 10px;">
            <div class="col-md-12 text-center">
              <h4>Couple Book</h4>
              <p>Book of love...</p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <div class="set-rs">
                <i class="fa fa-inr fa-2x"> <span> 300</span></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="set-rs">
                <button class="btn btn-explore">Explore</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="row">
            <div class="col-md-12">
              <div class="img-box">
                <img class="img-responsive img-s" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/product/quickbook/web/quickbook_1.png" alt="">
              </div>
            </div>
          </div>
          <div class="row " style="margin-top: 10px;">
            <div class="col-md-12 text-center">
              <h4>Desktop Calendar</h4>
              <p>A photo for every month</p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <div class="set-rs">
                <i class="fa fa-inr fa-2x"> <span> 200</span></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="set-rs">
                <button class="btn btn-explore">Explore</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt">
     <div class="col-md-12 text-center">
       <button class="btn btn-explore">View All</button>
     </div>
    </div>
  </div>
</section>
<!--MUGS-->
<section class="mob-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="main-heading">Accessories</h1>
      </div>
    </div>
    <div class="row mt">
      <div class="col-md-4">
        <div class="box">
          <div class="row">
            <div class="col-md-12">
              <div class="img-box">
                <img class="img-responsive img-s" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/mug/landscape/Default/Mug_Theme-23/white/mug-1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="row " style="margin-top: 10px;">
            <div class="col-md-12 text-center">
              <h4>Photo Mug</h4>
              <p>A mug for every reason</p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <div class="set-rs">
                <i class="fa fa-inr fa-2x"> <span> 400</span></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="set-rs">
                <button class="btn btn-explore">Explore</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="row">
            <div class="col-md-12">
              <div class="img-box">
                <img class="img-responsive img-s" src="https://4.imimg.com/data4/NU/UX/MY-33741333/mobile-cover-500x500.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="row " style="margin-top: 10px;">
            <div class="col-md-12 text-center">
              <h4>Couple Book</h4>
              <p>Book of love...</p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <div class="set-rs">
                <i class="fa fa-inr fa-2x"> <span> 300</span></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="set-rs">
                <button class="btn btn-explore">Explore</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="row">
            <div class="col-md-12">
              <div class="img-box">
                <img class="img-responsive img-s" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/product/quickbook/web/quickbook_1.png" alt="">
              </div>
            </div>
          </div>
          <div class="row " style="margin-top: 10px;">
            <div class="col-md-12 text-center">
              <h4>Desktop Calendar</h4>
              <p>A photo for every month</p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <div class="set-rs">
                <i class="fa fa-inr fa-2x"> <span> 200</span></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="set-rs">
                <button class="btn btn-explore">Explore</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt">
      <div class="col-md-12 text-center">
        <button class="btn btn-explore">View All</button>
      </div>
    </div>
  </div>
</section>
<!--<section class="mob-cover">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 text-center">-->
        <!--<h1 class="main-heading">Mugs</h1>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row mt">-->
      <!--<div class="col-md-4">-->
        <!--<div class="box">-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<div class="img-box">-->
                <!--<img class="img-responsive img-s" src="https://www.nikos.in/images/prod-img/Mugs/Custom-Mugs.jpg" alt="">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row " style="margin-top: 10px;">-->
            <!--<div class="col-md-12 text-center">-->
              <!--<h4>Custom Mugs</h4>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row" style="margin-top: 10px;">-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<i class="fa fa-inr fa-2x"> <span> 400</span></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<button routerLink="/mug" class="btn btn-explore">Explore</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<div class="box">-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<div class="img-box">-->
                <!--<img class="img-responsive img-s" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj54q2Sa3-ewv-zpD1DBHKrxb2v-IQHAmXFHdGtG60n-fQzNhW" alt="">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row " style="margin-top: 10px;">-->
            <!--<div class="col-md-12 text-center">-->
              <!--<h4>Custom Mugs</h4>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row" style="margin-top: 10px;">-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<i class="fa fa-inr fa-2x"> <span> 300</span></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<button routerLink="/mug" class="btn btn-explore">Explore</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<div class="box">-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<div class="img-box">-->
                <!--<img class="img-responsive img-s" src="https://i9.fnp.com//images/pr/l/personalized-couple-mug_1.jpg" alt="">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row " style="margin-top: 10px;">-->
            <!--<div class="col-md-12 text-center">-->
              <!--<h4>Custom Mugs</h4>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row" style="margin-top: 10px;">-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<i class="fa fa-inr fa-2x"> <span> 200</span></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<button class="btn btn-explore">Explore</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;MUGS END&ndash;&gt;-->
<!--<section class="mob-cover">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 text-center">-->
        <!--<h1 class="main-heading">Calendars</h1>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row mt">-->
      <!--<div class="col-md-4">-->
        <!--<div class="box">-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<div class="img-box">-->
                <!--<img class="img-responsive img-s" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/103987468/original/737cc9b686b2d6482e04227378afbcbc8cc7f4d1/design-professional-wall-or-desk-calendar-2018.jpg" alt="">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row " style="margin-top: 10px;">-->
            <!--<div class="col-md-12 text-center">-->
              <!--<h4>Custom Calendars</h4>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row" style="margin-top: 10px;">-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<i class="fa fa-inr fa-2x"> <span> 400</span></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<button class="btn btn-explore">Explore</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<div class="box">-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<div class="img-box">-->
                <!--<img class="img-responsive img-s" src="http://thejulianyear.com/wp-content/uploads/41-unique-desk-calendar-2014-template-template-free-personalized-wall-calendar.jpg" alt="">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row " style="margin-top: 10px;">-->
            <!--<div class="col-md-12 text-center">-->
              <!--<h4>Custom Calendars</h4>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row" style="margin-top: 10px;">-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<i class="fa fa-inr fa-2x"> <span> 300</span></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<button class="btn btn-explore">Explore</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<div class="box">-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<div class="img-box">-->
                <!--<img class="img-responsive img-s" src="https://smash-images.photobox.com/original/4ed6be7e8fd19cdb55e86a328ce053618bd41024_square-calendar-thumbs-4_3-596.jpg" alt="">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row " style="margin-top: 10px;">-->
            <!--<div class="col-md-12 text-center">-->
              <!--<h4>Custom Calendars</h4>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row" style="margin-top: 10px;">-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<i class="fa fa-inr fa-2x"> <span> 200</span></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<button class="btn btn-explore">Explore</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--<section class="mob-cover">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 text-center">-->
        <!--<h1 class="main-heading">PhotoBooks</h1>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row mt">-->
      <!--<div class="col-md-4">-->
        <!--<div class="box">-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<div class="img-box">-->
                <!--<img class="img-responsive img-s" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/product/couplebook/web/couplebook_1.png" alt="">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row " style="margin-top: 10px;">-->
            <!--<div class="col-md-12 text-center">-->
              <!--<h4>Custom Photo Books</h4>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row" style="margin-top: 10px;">-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<i class="fa fa-inr fa-2x"> <span> 400</span></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<button class="btn btn-explore">Explore</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<div class="box">-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<div class="img-box">-->
                <!--<img class="img-responsive img-s" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/product/quickbook/web/quickbook_1.png" alt="">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row " style="margin-top: 10px;">-->
            <!--<div class="col-md-12 text-center">-->
              <!--<h4>Albums</h4>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row" style="margin-top: 10px;">-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<i class="fa fa-inr fa-2x"> <span> 300</span></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<button class="btn btn-explore">Explore</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<div class="box">-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<div class="img-box">-->
                <!--<img class="img-responsive img-s" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/product/quickbook/web/quickbook_1.png" alt="">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row " style="margin-top: 10px;">-->
            <!--<div class="col-md-12 text-center">-->
              <!--<h4>Photo Books</h4>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row" style="margin-top: 10px;">-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<i class="fa fa-inr fa-2x"> <span> 200</span></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<div class="set-rs">-->
                <!--<button class="btn btn-explore">Explore</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<section class="yougrapy">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="text-bold">Welcome to #Yougraphy</h4>
        <div class="he"></div>
        <p class="selfies">Selfies. Selfies with bestie. Your family. Your friends. Your frenemies. Those you love. Your mum-in-law. Your goldfish. Your new puppy. Your new shoes. Your new car. Your beach holiday. Your trekking adventure. Your band. Your office do. Your doodles. If they are fit to shoot, they are fit to put up. At home. In your cubicle. Or in your hostel room. It’s all you. It’s #yougraphy.</p>
        <div class="he"></div>
        <h3>Just shoot. Upload. Print. Simple.</h3>
      </div>
    </div>
  </div>
</section>
<section class="yougrapy-happy">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-bold2">Happy Yougraphers</h2>
        <div class="he"></div>
        <div id="blogCarousel" class="carousel slide" data-ride="carousela">

          <ol class="carousel-indicators">
            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#blogCarousel" data-slide-to="1"></li>
          </ol>

          <!-- Carousel items -->
          <div class="carousel-inner">

            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-3">
                  <div _ngcontent-c1="" class="item">
                    <div _ngcontent-c1="" class="yougraphers">
                      <img class="ss" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/yougraphers/garima.jpg" alt="">
                      <p _ngcontent-c1="" class="name">Garima</p>
                      <div _ngcontent-c1="" class="yougraphers-image owl-lazy" data-src="https://dkesn94daljtk.cloudfront.net/canvera/assets/yougraphers/garima.jpg" style="background-image: url(&quot;https://dkesn94daljtk.cloudfront.net/canvera/assets/yougraphers/garima.jpg&quot;); opacity: 1;">
                      </div>
                      <p _ngcontent-c1="" class="reviews">&#8203;&#8203;Every photographer wishes to get their pictures at an affordable price. Digital collection is nothing as compared to a matte finish picture in your hands! Had a great experience with Canvera</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div _ngcontent-c1="" class="item">
                    <div _ngcontent-c1="" class="yougraphers">
                      <img class="ss" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/yougraphers/garima.jpg" alt="">
                      <p _ngcontent-c1="" class="name">Garima</p>
                      <div _ngcontent-c1="" class="yougraphers-image owl-lazy" data-src="https://dkesn94daljtk.cloudfront.net/canvera/assets/yougraphers/garima.jpg" style="background-image: url(&quot;https://dkesn94daljtk.cloudfront.net/canvera/assets/yougraphers/garima.jpg&quot;); opacity: 1;">
                      </div>
                      <p _ngcontent-c1="" class="reviews">&#8203;&#8203;Every photographer wishes to get their pictures at an affordable price. Digital collection is nothing as compared to a matte finish picture in your hands! Had a great experience with Canvera</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div _ngcontent-c1="" class="item">
                    <div _ngcontent-c1="" class="yougraphers">
                      <img class="ss" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/yougraphers/garima.jpg" alt="">
                      <p _ngcontent-c1="" class="name">Garima</p>
                      <div _ngcontent-c1="" class="yougraphers-image owl-lazy" data-src="https://dkesn94daljtk.cloudfront.net/canvera/assets/yougraphers/garima.jpg" style="background-image: url(&quot;https://dkesn94daljtk.cloudfront.net/canvera/assets/yougraphers/garima.jpg&quot;); opacity: 1;">
                      </div>
                      <p _ngcontent-c1="" class="reviews">&#8203;&#8203;Every photographer wishes to get their pictures at an affordable price. Digital collection is nothing as compared to a matte finish picture in your hands! Had a great experience with Canvera</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div _ngcontent-c1="" class="item">
                    <div _ngcontent-c1="" class="yougraphers">
                      <img class="ss" src="https://dkesn94daljtk.cloudfront.net/canvera/assets/yougraphers/garima.jpg" alt="">
                      <p _ngcontent-c1="" class="name">Garima</p>
                      <div _ngcontent-c1="" class="yougraphers-image owl-lazy" data-src="https://dkesn94daljtk.cloudfront.net/canvera/assets/yougraphers/garima.jpg" style="background-image: url(&quot;https://dkesn94daljtk.cloudfront.net/canvera/assets/yougraphers/garima.jpg&quot;); opacity: 1;">
                      </div>
                      <p _ngcontent-c1="" class="reviews">&#8203;&#8203;Every photographer wishes to get their pictures at an affordable price. Digital collection is nothing as compared to a matte finish picture in your hands! Had a great experience with Canvera</p>
                    </div>
                  </div>
                </div>

              </div>
              <!--.row-->
            </div>
            <!--.item-->


            <!--.item-->

          </div>
          <!--.carousel-inner-->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="youspiration">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="text-bold">The #Youspiration Blog</h4>
      </div>
    </div>
    <div class="row mt">
      <div class="col-md-7">
          <div class="blog-body1">
            <iframe width="100%" height="420"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
          </div>
      </div>
      <div class="col-md-5">
        <div class="blog-body blog-2-wrapper" style="background-image: url('https://yougraphy-blog.canvera.com/wp-content/uploads/2018/12/wedding-photography-business.jpg');">
          <div class="blog-content">
            <h6 class="card-title"><a target="_blank" href="https://www.canvera.com/blog/basic-knowledge-wedding-photography-business/">Basic Knowledge for Wedding Photography Business</a></h6>
          </div>
        </div>
        <div class="blog-body blog-2-wrapper" style="background-image: none;">
        <div class="blog-content1">
          <iframe width="100%" height="200"
                  src="https://www.youtube.com/embed/tgbNymZ7vqY">
          </iframe>
        </div>
      </div>
      </div>
    </div>
  </div>

</section>


<section class="megafooter">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="first-footer-list">
          <li>Prints</li>
          <li>Youtube</li>
          <li>Mugs</li>
          <li>Calendors</li>
          <li>Mobile Covers</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="first-footer-list">
          <li>About Us</li>
          <li>Terms & Privacy</li>
          <li>Help / FAQ</li>
          <li>Contact Us</li>

        </ul>
      </div>
      <div class="col-md-3">
        <ul class="first-footer-list">
          <li>Blog</li>
          <li>Track Order</li>
        </ul>
      </div>
      <div class="col-md-3 text-center">
        <ul class="first-footer-list">
          <li>Follow Us</li>
        </ul>
        <ul class="social-li">
          <li><i class="fa fa-facebook"></i></li>
          <li><i class="fa fa-twitter"></i></li>
          <li><i class="fa fa-google-plus"></i></li>
          <li><i class="fa fa-instagram"></i></li>
        </ul>
        <ul class="first-footer-list">
          <li><img src="https://www.canvera.com/products/images/payment-1.d565866f83a761a61f5ac4222e5ff633.png" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/home/banner/mug/web/Mugs-Banner-web.jpg-->
<!--https://dkesn94daljtk.cloudfront.net/canvera/assets/configuration/images/home/banner/youbook/home_carousal_image/youbook3.jpg-->
